@using Library_App.Entities
@using Library_App.Models.Order
@model IEnumerable<Library_App.Entities.Signature>

@{
    ViewData["Title"] = "Index";
}

<h1>Book collection</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SignatureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTaken)
            </th>
            <th>
                Take
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SignatureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Book.CoverImage)" alt="Image" width="100" />
                    @*@Html.DisplayFor(modelItem => item.Book.CoverImage)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTaken)
                </td>
                <td>
                    @await Html.PartialAsync("_OrderPartialView", new OrderCreateBindingModel
               {
                   SignatureId = item.Id,
                   Employees = ViewData["employees"] as List<EmployeePairVM>,
                   IsTaken = item.IsTaken
               })
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Librarian"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
